body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background: orange;
  padding: 2rem;
}

.navbar-links {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
.restaurantList {
  margin: 1rem;
  display: grid;
  gap: 1rem;
}

.restaurantCard {
  padding: 1rem;
  border: 1px solid;
  border-radius: 4px;
}

.likeButton {
  border: none;
  background: inherit;
}